<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">


<head>
<meta charset="UTF-8"></meta>
<title>Cadastro Título</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" action="/titulos">
		<div class="alert alert-success alert-dismissible"
			th:if="${!#strings.isEmpty(mensagem)}">
			<button type="button" class="btn btn-close" aria-label="Close"
				data-dismiss="alert"></button>
			<h4 class="alert-heading" th:text=${mensagem}>Salvo com sucesso?</h4>
			<p>Aww yeah, you successfully read this important alert message.
				This example text is going to run a bit longer so that you can see</p>
		</div>

		<div class="card">
			<div class="card-header">
				<h4 class="text-center" style="padding-top: 6px">Cadastro de títulos</h4>

				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item"><a class="nav-link active"
						aria-current="true" href="/titulos/novo">Cadastrar</a></li>
					<li class="nav-item"><a class="nav-link" href="/titulos">Pesquisar</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Editar</a></li>
				</ul>
			</div>
			<div class="card-body">

				<div class="input-group mb-3">
					<span class="input-group-text">Descrição</span>
					<textarea class="form-control" aria-label="With textarea"
						name="descricao" id="descricao"></textarea>
				</div>

				<div class="input-group mb-3">
					<input type="date" class="form-control"
						placeholder="Recipient's username"
						aria-label="Recipient's username" aria-describedby="basic-addon2"
						name="dataVencimento" id="dataVencimento"> <span
						class="input-group-text" id="basic-addon2">Data de
						Vencimento</span>
				</div>

				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">Status</span> <select
						class="form-select" aria-label="Default select example"
						name="status" id="status">
						<option th:each="status:${todosStatusTitulo}" th:value="${status}"
							th:text="${status.descricao}"></option>
					</select>
				</div>

				<div class="input-group mb-3">
					<span class="input-group-text">Valor</span> <input type="text"
						class="form-control" aria-label="Amount (to the nearest dollar)"
						name="valor" id="valor"> <span class="input-group-text">R$</span>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>

			</div>
		</div>
	</form>

</section>
</html>