<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">


<head>
<meta charset="UTF-8"></meta>
<title>Cadastro Título</title>

<link href="/css/bootstrap-datepicker.standalone.min.css"
	type="text/css" rel="stylesheet">
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/js/jquery.maskMoney.min.js"></script>
<script src="/js/cobranca.js"></script>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" action="/titulos"
		th:object="${titulo}">


		<div layout:insert="Mensagem"></div>
		<div layout:insert="MensagemErro"></div>

		<div class="card">
			<div class="card-header">
				<h4 class="text-center" style="padding-top: 6px">Cadastro de
					títulos</h4>

				<div layout:insert="Menu"></div>


			</div>

			<div class="card-body row g-3">

				<input type="hidden" th:field="*{id}"></input>

				<div class="col-md-4">
					<label for="valor" class="form-label">Valor:</label>
					<div class="input-group has-validation">
						<span class="input-group-text">R$</span> 
						<input type="text"
							class="form-control js-currency" th:field="*{valor}" id="valor"
							th:classappend="${#fields.hasErrors('valor')} ? is-invalid">
						<div id="validationServerUsernameFeedback"
							class="invalid-feedback">Por favor, escolha um valor.</div>
						<div class="valid-feedback">Ótimo!</div>
					</div>
				</div>
				<div class="col-md-4">
					<label for="status" class="form-label">Status:</label> <select
						class="form-select text" aria-label="Default select example"
						th:field="*{status}" id="status">
						<option th:each="status:${todosStatusTitulo}" th:value="${status}"
							th:text="${status.descricao}"></option>
					</select>
					<div id="validationServerUsernameFeedback" class="invalid-feedback">Por
						favor, escolha um Status.</div>
					<div class="valid-feedback">Ótimo!</div>
				</div>
				<div class="col-md-4">
					<label for="dataVencimento" class="form-label">Data de
						vencimento:</label> <input type="text" class="form-control"
						id="dataVencimento" th:field="*{dataVencimento}"
						aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
						th:classappend="${#fields.hasErrors('dataVencimento')} ? is-invalid"
						data-provide="datepicker" data-date-format="dd/mm/yyyy"
						data-date-language="pt-BR" data-date-autoclose="true"
						data-date-today-highlight="true" data-date-orientation="bottom">
					<div id="validationServerUsernameFeedback" class="invalid-feedback">Por
						favor, escolha um vencimento.</div>
					<div class="valid-feedback">Ótimo!</div>

				</div>
				<div class="col-md-12">
					<label for="validationServer03" class="form-label">Descrição:</label>

					<textarea class="form-control" aria-label="With textarea"
						th:field="*{descricao}" id="descricao"
						aria-describedby="validationServer03Feedback"
						th:classappend="${#fields.hasErrors('descricao')} ? is-invalid"></textarea>
					<div id="validationServer03Feedback" class="invalid-feedback">Por
						favor, digite uma descrição.</div>
					<div class="valid-feedback">Ótimo!</div>
				</div>

				<div class="col-12">
					<button class="btn btn-primary" type="submit">Salvar</button>
				</div>

			</div>
		</div>
	</form>



</section>
</html>