<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">


<head>
<meta charset="UTF-8"></meta>
<title th:text=${pagina}>Pesquisar de títulos</title>


</head>

<section layout:fragment="conteudo">

	<div layout:insert="Mensagem"></div>

	<div class="card">
		<div class="card-header">
			<h4 class="text-center" style="padding-top: 6px" th:text=${pagina}>Pesquisa de
				títulos</h4>


			<div layout:insert="Menu"></div>

		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead class="table-dark">
					<tr>
						<th scope="col" class="text-center col-md-1">#</th>
						<th scope="col">Descrição</th>
						<th scope="col">Data</th>
						<th scope="col">Valor</th>
						<th scope="col" class="text-center col-md-2">Status</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${todosTitulos}">
						<td scope="row" class="text-center" th:text="${titulo.id}"></td>
						<td th:text="${titulo.descricao}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
						<td class="text-right" th:text="${{'R$ '+titulo.valor}}"></td>
						<td class="text-center"><span class="badge rounded-pill"
							th:text="${titulo.status.descricao}"
							th:classappend="${titulo.isPendente ? 'bg-danger': titulo.isRecebido ? 'bg-success': 'bg-warning text-dark'}"></span></td>
						<td class="text-center"><a class="btn btn-link btn-xs"
							th:href="@{/titulos/editar/{id}(id=${titulo.id})}" title="Editar"
							data-bs-placement="top" rel="tooltip"> <img
								src="/images/edit-24px.svg">
						</a> <a class="btn btn-link btn-xs" data-bs-toggle="modal"
							data-bs-target="#ModalExcluir"
							th:attr="data-id=${titulo.id}, data-descricao=${titulo.descricao}"
							title="Deletar" rel="tooltip" data-bs-placement="top"> <img
								src="/images/delete-24px.svg">
						</a></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(todosTitulos)}">Nenhum
							título foi encontrado</td>
					</tr>


				</tbody>
			</table>
			<div layout:insert="DialogoExcluir"></div>
			<script src="/js/cobranca.js"></script>

		</div>
	</div>



</section>
</html>